body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

h1{
    text-align: center;
}

.formPerson{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 135px;
    margin: 0 auto;
}